<?xml version="1.0" encoding="utf-8" ?>
<tools>
  <portables>
    <portable name="7Zip" filename="7-Zip.zip" remotepath="C:\Program Files\7-Zip\" />
    <portable name="TOAD" filename ="Toad for Oracle 13.0.7z" remotepath="C:\PIWorks\Tools\TOAD\"/>
    <portable name="Chrome" filename ="Chrome.7z" remotepath="C:\PIWorks\Tools\Chrome\"/>
    <portable name="Instant Client Basic" filename ="instantclient-basic-windows.x64-18.3.0.0.0dbru.7z" remotepath="C:\oracle\instantclient_12_2\"/>
    <portable name="Instant Client SQLPlus" filename ="instantclient-sqlplus-windows.x64-18.3.0.0.0dbru.7z" remotepath="C:\oracle\instantclient_12_2\"/>
    <portable name="Instant Client Tools" filename ="instantclient-tools-windows.x64-18.3.0.0.0dbru.7z" remotepath="C:\oracle\instantclient_12_2\"/>
    <portable name="Notepad++" filename ="notepad++.7z" remotepath="C:\PIWorks\Tools\Notepad++\"/>
    <portable name="WinSCP" filename ="WinSCP.zip" remotepath="C:\PIWorks\Tools\WinSCP\"/>
    <portable name="Tree Size Free" filename ="TreeSizeFree-Portable.zip" remotepath="C:\PIWorks\Tools\TreeSize\"/>
    <portable name="Total Commander" filename ="TotalCommander.7z" remotepath="C:\PIWorks\Tools\TotalCommander\"/>
    <portable name="SQLite Studio" filename ="SQLiteStudio.7z" remotepath="C:\PIWorks\Tools\SQLiteStudio\"/>
    <portable name="Process Hacker" filename ="processhacker-2.39-bin.zip" remotepath="C:\PIWorks\Tools\ProcessHacker\"/>
    <portable name="MRemoteNG" filename="mRemoteNG-Portable.zip" remotepath="C:\PIWorks\Tools\MRemoteNG\" />
  </portables>
</tools>

