<?xml version="1.0" encoding="utf-8" ?>
<tools>
  <portables>
    <portable name="TOAD" filename ="toad.7z" remotepath="C:\PIWorks\Tools\"/>
    <portable name="Chrome" filename ="Chrome 69.0.7z" remotepath="C:\PIWorks\Tools\"/>
    <portable name="Instant Client Basic" filename ="instantclient-basic-windows.x64-18.3.0.0.0dbru.zip" remotepath="c:\oracle\instantclient_12_2\"/>
    <portable name="Instant Client SQLPlus" filename ="instantclient-sqlplus-windows.x64-18.3.0.0.0dbru.zip" remotepath="c:\oracle\instantclient_12_2\"/>
    <portable name="Instant Client Tools" filename ="instantclient-tools-windows.x64-18.3.0.0.0dbru.zip" remotepath="c:\oracle\instantclient_12_2\"/>
    <portable name="Notepad++" filename ="notepad++.7z" remotepath="C:\PIWorks\Tools\"/>
    <portable name="WinSCP" filename ="WinSCP.zip" remotepath="C:\PIWorks\Tools\"/>
    <portable name="Tree Size Free" filename ="TreeSizeFree-Portable.zip" remotepath="C:\PIWorks\Tools\"/>
    <portable name="Total Commander" filename ="TotalCommander.7z" remotepath="C:\PIWorks\Tools\"/>
    <portable name="SQLite Studio" filename ="SQLiteStudio-3.2.1.zip" remotepath="C:\PIWorks\Tools\"/>
    <portable name="Process Hacker" filename ="processhacker-2.39-bin.zip" remotepath="C:\PIWorks\Tools\"/>
  </portables>
</tools>

